
<div class="container">
  <div class="trips">
    <img class="trips-images" src="/assets/Fly-Fishing.JPG" alt="fly fishing with on river">
    <h3 class="trip-title">Merced River</h3>
    <div class="book-info" display>
      <button class="details-button" type="button" name="button">Details</button>
      <button class="book-button" type="button" name="button">Book This Trip</button>

    </div>
    <div class="trip-info">
      <p class="description">One of the most beautiful backgrounds while fishing, the Merced river flows through Yosemite Valley.  Within this river you can find wild rainbow and brown trout eager to eat a well presented fly.  </p>
    </div>
  </div>
  <div class="trips">
    <img class='trips-images' src="/assets/Tuolumne-Meadows-Fly-Fishing.JPG" alt="fly fishing with on river">
    <h3 class="trip-title">Tuolumne River</h3>
    <div class="book-info">
      <button class="details-button" type="button" name="button">Details</button>
      <button class="book-button" type="button" name="button">Book This Trip</button>
    </div>
    <div class="trip-info">
      <p class="description">One of the most beautiful backgrounds while fishing, the Merced river flows through Yosemite Valley.  Within this river you can find wild rainbow and brown trout eager to eat a well presented fly.  </p>
    </div>
  </div>
  <div class="trips">
    <img class='trips-images' src="/assets/Tuolumne-River-Fly-Fishing.JPG" alt="fly fishing with on river">
    <h3 class="trip-title">Tuolumne Meadows</h3>
    <div class="book-info">
      <button class="details-button" type="button" name="button">Details</button>
      <button class="book-button" type="button" name="button">Book This Trip</button>
    </div>
    <div class="trip-info">
      <p class="description">One of the most beautiful backgrounds while fishing, the Merced river flows through Yosemite Valley.  Within this river you can find wild rainbow and brown trout eager to eat a well presented fly.  </p>
    </div>
  </div>
</div>
