<div class='header-container'>
  <ul class='header'>
    <li><a class="header-link" href="#">Home</a></li>
    <li><a class="header-link" href="#">Trips</a></li>
    <li><a class="header-link" href="#">About</a></li>
    <li><a class="header-link" href=<%= new_user_path %>>Sign Up</a></li>
    <li><a class="header-link" href="#">Log In</a></li>
  </ul>
  <img id='logo' src="/assets/yosemite-sierra-fly-fishing.png" alt="yosemite sierra fly fishing">
</div>
