<% if flash[:success]%>
  <%= flash[:success] %>
<% end %>
<div class='container'>
  <!-- <div class='about-text'>
    <p>
      We are privileged to offer premier fully guided and instructional fly fishing trips on some of the world's most beautiful trout waters.
    </p>
    <br>
    <p>
      At Yosemite Sierra Fly Fishing, it is our mission to provide the finest quality fly fishing products, instruction, and personal service; we want you to have the best possible fishing experience and leave with great memories and knowledge that will last a lifetime.
    </p>
    <br>
    <p>
      Our professional staff will customize a guided trip based upon your abilities and interests, and outfit you with all equipment needed including rod/reel, line, tippet, flies, and wading gear - and you will be outfitted with all of this gear at no extra cost!
    </p>
  </div> -->
  <div class='about-image'>
    <img id='lake-image' src="/assets/yosemite-fly-fishing-river-lake.JPG" alt="yosemite fly fishing lake">
  </div>
</div>
