// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 80%;
  margin: auto;
  padding-top: 7px;
}

.weather-data {
  background-color: #1a3359;
  height: 10em;
  width: 25%;
}

.weather-data > p {
  display: inline-block;
  width: 50%;
}

.current-weather {
  color: white;
  font-size: 13px;
  padding-bottom: 6px;
  padding-left: 10%;
}

.wi {
  font-size: 75px;
  color: white;
  float: right;
  align-content: center;
  position: relative;
  padding-right: 5px;
}

#current-location-weather {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  width: 50%;
}

#lake-image {
  width: 100%;
  height: 4s0em;
  padding-top: 10px;
}

.about-text {
  padding-top: 10px;
  height: 30em;
  width: 39%;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Arial';
}
