/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #logo {
   height: 10em;
   width: 80%;
   display: block;
   margin-left: 10%;
   border-bottom: 2px solid black;
 }

.container {
  width: 80%;
  margin: auto;
  /*border-bottom: 2px solid black;*/
}

.about-image {
  height: 30em;
  padding-top: 10px;
  width: 100%;
  display: inline-block;
}

#lake-image {
  width: 100%;
  padding: 10px;
}

.about-text {
  padding-top: 10px;
  height: 30em;
  width: 39%;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Arial';
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .9;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 16.3%;
  z-index: 1000;
}

li {
  background-color: #5b5b5b;
}

.header-icon {
  background-image: url('/assets/menu.png');
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 3em;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arial';
}

a:hover:not(.active) {
  background-color: #272728;
}

.active {
  background-color: #5b5b5b;
}

#trips-page-title {
  text-align: center;
}

.trips {
  padding-top: 10px;
  padding-bottom: 10px;
  /*width: 100%;*/
  display: inline-block;
  border-bottom: 1.5px solid black;
  display: inline-block;
}

.trip-title {
  text-align: center;
}

.trip-info {
  display: inline-block;
  float: right;
  text-align: center;
  width: 70%;
  visibility: hidden;
}

.trips-images {
  float: left;
  display: inline-block;
  height: 20%;
  width: 30%;
}

.book-info {

}

.book-button {
  margin-left: 5%;
  background-color: #5b5b5b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
